*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#5b4636,#d9c7a1);
    min-height:100vh;
    color: rgb(36, 35, 34); 
    background: color #C6AC8F; ;
    /* display:flex;
    justify-content:center;
    align-items:center; */
}

.box{
    background:white;
    padding:30px;
    width:80%;
    /* max-width:90%; */
    margin: 20px auto;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h2{
    margin-bottom:20px;
    color:#5b4636;
}

p{
    margin-bottom:20px;
    color:#555;
}

input{
    width:80%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    width:50%;
    padding:12px;
    background:#5b4636;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#3f3126;
}

a{
    display:block;
    margin-top:15px;
    text-decoration:none;
    color:#5b4636;
    font-weight:bold;
}

#msg{
    margin-top:15px;
    color:green;
}